# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
*.egg-info/
*.egg
*.log

# Django-specific ignores
*.sqlite3
db.sqlite3
/media/
*.pot
*.mo

# Environment variables
.env

# Mac OS-specific ignores
.DS_Store

# Virtual environment
.venv/
env/
ENV/
venv/
# VS Code settings (optional)
.vscode/

# Other editors
.idea/
